<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="../styles/indexStyles.css">
  </head>
  <body>
    <div class="container" id="headers-container">
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h6>Header 6</h6>
        <input type="text" placeholder="Text Input" id="nombre">
        <input type="password" placeholder="Password Input" id="password">
        <center>
            <h1>Centered Header 1</h1>
            <h2>Centered Header 2</h2>
            <h3>Centered Header 3</h3>
            <h4>Centered Header 4</h4>
            <h5>Centered Header 5</h5>
            <h6>Centered Header 6</h6>
        </center>
    </div>
    <div class="container" id="paragraphs-container">
        <p>Paragraph 1</p>
        <p>
            Paragraph 2
            <br>
            <a href="https://www.google.com">Google</a>
        </p>
        <img src="https://cdn.bolivia.com/sdi/2023/11/30/cual-es-el-significado-de-la-moda-de-los-patitos-kawai-1209290.jpg" alt="Google Logo">

    <ul>
        <li>Item 1</li>
    </ul>

    <nav>
        <a href="https://www.google.com">Google</a>
        <a href="https://www.facebook.com">Facebook</a>
        <a href="https://www.instagram.com">Instagram</a>
    </nav>
    </div>
  </body>
</html>